package:
  name: {{ cookiecutter.conda_name }}
{%- raw %}
  version: {{ environ.get('GIT_DESCRIBE_TAG', 0) }}.{{ environ.get('GIT_DESCRIBE_NUMBER', 0) }}
{%- endraw %}

source:
  path: ..

build:
{%- raw %}
  number: {{ environ.get('CI_PIPELINE_ID', 0) }}
{%- endraw %}
{%- if cookiecutter.has_click != 'n' %}
  entry_points:
    - {{ cookiecutter.project_name }} = {{ cookiecutter.package_name }}.__main__:main
{%- endif %}

requirements:
  build:
    - python
    - setuptools
{%- if cookiecutter.has_custom_db != 'n' %}
    - alembic
{%- endif %}

  run:
    - python
{%- if cookiecutter.has_custom_db != 'n' %}
    - attrs
{%- endif %}
{%- if cookiecutter.has_click != 'n' %}
    - click
{%- endif %}
{%- if cookiecutter.has_custom_db != 'n' %}
    - sqlalchemy
{%- endif %}
{%- if cookiecutter.extra_requirements %}
{%- for req in cookiecutter.extra_requirements.split(',') %}
    - {{ req }}
{%- endfor %}
{%- endif %}

test:
  requires:
    - bandit
    - pylint
    - pytest
    - pytest-cov

  imports:
    - {{ cookiecutter.package_name }}
{%- if cookiecutter.has_click != 'n' %}

  commands:
    - {{ cookiecutter.project_name }} --help
{%- endif %}

about:
  summary: "{{ cookiecutter.project_summary }}"
  home: https://gitlab.com/{{ cookiecutter.gitlab_group }}/{{ cookiecutter.project_name }}
  license: Proprietary
  extra:
    sphinx:
      language: en
      intersphinx:
        # project: Parent URL of the "objects.inv" file
{%- if cookiecutter.has_click != 'n' %}
        click: https://click.palletsprojects.com/en/7.x/
{%- endif %}
